{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<a href="/newaffiliate">New</a>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Url</th>
            <th>Email</th>
            <th>Token</th>
            <th>IsActivated</th>
            <th>CreatedAt</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for affiliate in affiliates %}
        <tr>
            <td>{{affiliate.getId()}}</td>
            <td>{{affiliate.getUrl()}}</td>
            <td>{{affiliate.getEmail()}}</td>
            <td>{{affiliate.getToken()}}</td>
             {% if affiliate.getIsActivate() == false %}
                <td>0</td>
            {% else %}
                <td>1</td>
            {% endif %}
            {% if affiliate.getCreatedAt() == null %}
            <td>NULL</td>
            {% else %}
                    <td>{{affiliate.getCreatedAt().format('Y-m-d')}}</td>
            {% endif %}
            <td>
                <a class="btn btn-info" href="/affiliate/{{affiliate.getId()}}">View</a>
                <a class="btn btn-warning" href="/editaffiliate/{{affiliate.getId()}}">Edit</a>
                <a class="btn btn-danger" href="/deleteaffiliate/{{affiliate.getId()}}">Delete</a>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<a class="btn btn-primary" href="/home">BACK</a>

{% endblock %}
