{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="card">
        <div class="card-body">
            <div>
                <label>Id:</label>
                <label>{{ job.getId() }}</label>
            </div>
            <div>
                <label>Category:</label>
                <label>{{ job.getCategoryId().getName() }}</label>
            </div>
            <div>
                <label>Company:</label>
                <label>{{ job.getCompany() }}</label>
            </div>
            <div>
                <label>Logo:</label>
                <label>{{ job.getLogo() }}</label>
            </div>
            <div>
                <label>Url:</label>
                <label>{{ job.getUrl() }}</label>
            </div>
            <div>
                <label>Position:</label>
                <label>{{ job.getPosition() }}</label>
            </div>
            <div>
                <label>Location:</label>
                <label>{{ job.getLocation() }}</label>
            </div>
            <div>
                <label>Description:</label>
                <label>{{ job.getDescription() }}</label>
            </div>
            <div>
                <label>HowToApply:</label>
                <label>{{ job.getHowToApply() }}</label>
            </div>
            <div>
                <label>Token:</label>
                <label>{{ job.getToken() }}</label>
            </div>
            <div>
                <label>IsPublic:</label>
                {% if job.getIsPublic() == false %}
                    <label>0</label>
                {% else %}
                    <label>1</label>
                {% endif %}
            </div>
            <div>
                <label>IsActivated:</label>
                {% if job.getIsActivated() == false %}
                    <label>0</label>
                {% else %}
                    <label>1</label>
                {% endif %}
            </div>
            <div>
                <label>Email:</label>
                <label>{{ job.getEmail() }}</label>
            </div>
            <div>
                <label>ExpiresAt:</label>
                {% if job.getExpiresAt() == null %}
                    <label>NULL</label>
                {% else %}
                    <label>{{job.getExpiresAt().format('Y-m-d h:m:s')}}</label>
                {% endif %}
            </div>
            <div>
                <label>CreatedAt:</label>
                {% if job.getCreatedAt() == null %}
                    <label>NULL</label>
                {% else %}
                    <label>{{job.getCreatedAt().format('Y-m-d h:m:s')}}</label>
                {% endif %}
            </div>
            <div>
                <label>UpdatedAt:</label>
                {% if job.getUpdatedAt() == null %}
                    <label>NULL</label>
                {% else %}
                    <label>{{job.getUpdatedAt().format('Y-m-d h:m:s')}}</label>
                {% endif %}
            </div>

            <a class="btn btn-primary" href="/editjob/{{job.getId()}}">Edit</a>
            <a class="btn btn-secondary" href="/deletejob/{{job.getId()}}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
